<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">

          <%= link_to "Çevrimiçi Üniversite Dergisi", root_path, id: "logo" %>
          <nav>
          
             <ul class="nav pull-right">

               <li> <%= link_to "Anasayfa", root_path %> </li>
               <li> <%= link_to "Yardim " , help_path %> </li>

               <li> <%= link_to "Hakkında" ,about_path %> </li>

               <li> <%= link_to "Kayıt ol" ,'#'        %> </li>
             </ul>
          </nav>
          
    </div>
  </div>
</div>
</header>



